= simple_form_for( @media_file, :html => { :multipart => true}, :defaults => { :input_html => { :class => "form-control" } }) do |f|
  - if @media_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@media_file.errors.count, "error")} prohibited this media_file from being saved:"
      %ul
        - @media_file.errors.full_messages.each do |msg|
          %li= msg

  .row
    .form-group
      = f.input :title
    .form-group
      = f.input :description, as: :text
    .form-group
      = f.input :media_attachment
    .form-group
      = f.input :tag_list, input_html: { class: "tags_field form-control", autocomplete: "off" }
  .row
    .actions
      = f.submit 'Save', :class => "btn btn-success"
