= simple_form_for( @media_file, :html => { :multipart => true}, :defaults => { :input_html => { :class => "form-control" } }) do |f|
  - if @media_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@media_file.errors.count, "error")} prohibited this media_file from being saved:"
      %ul
        - @media_file.errors.full_messages.each do |msg|
          %li= msg
  = render partial: "media_bookmarks/bookmark_form", locals: { media_bookmark: @media_file.start_bookmark}
  -if !@media_file.media_attachment.exists?
    .row
      .col-md-12
        .form-group
          = f.input :media_attachment
  .row
    = f.submit 'Save', :class => "btn btn-success"
    = link_to 'Show', @media_file, class: "btn btn-primary"
    = link_to 'Back', media_files_path, class: "btn btn-primary"
