- search = params[:search].nil? ? "" : nil
.row
  -if @current_tag
    %h1 Teachings - tagged with #{@current_tag}
  -else
    %h1 Teachings
  %form{:action => "media_files"}
    .row
      .col-md-4.col-md-offset-6
        .form-group
          %input.form-control{:name => "search", value: params[:search]}
      .col-md-2
        %button.btn.btn-primary.btn-block{:type => "Submit"}
          %i.fa.fa-search
          Search
.row
  .col-md-12
    = paginate @media_files
-if params[:search]
  .row
    .col-md-12
      Search results for 
      .search-results.highlight 
        #{params[:search]}
-@media_files.each do |media_file|
  .row
    %table.table
      %tr
        %th
        %th File name
        %th Description
        %th Sub topics
        %th
        %th
      %tr
        %td{ style: "width:5%"}
          = link_to bookmark_path(media_file.id, media_file.start_bookmark) do
            %i.fa.fa-play
        %td{ style: "width: 25%"}
          #{highlight_search( media_file.start_bookmark.title )} 
        %td{ style: "width: 20%"} 
          #{highlight_search(media_file.start_bookmark.description)} 
        %td{ style: "width: 20%"}= media_file.start_bookmark.topic_list
        %td{ style: "width: 5%"}= link_to 'Edit', edit_media_bookmark_path(media_file.start_bookmark)
        %td{ style: "width: 5%"}= link_to 'Destroy', media_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

.row
  .col-md-12
    = paginate @media_files
.row
  = link_to 'New Audio file', new_media_file_path, class: "btn btn-success"
.row.tagging-row
  .panel.panel-info
    .panel-heading
      Tags
    .panel-body
      .row
        .tag_cloud
          -tag_cloud MediaBookmark.tag_counts, %w[ btn-xs btn-sm btn-normal btn-lg ] do|tag, css_class|
            = link_to tag_path(tag.name), class: "btn btn-info #{css_class}" do
              #{tag.name}
              %span.badge
                #{tag.count}
      .row
        -if @current_tag
          %br/
          = link_to "Reset tags", media_bookmarks_path(@media_bookmark), class: "btn btn-warning"

