.row
  -if @current_tag
    %h1 Teachings - tagged with #{@current_tag}
  -else
    %h1 Teachings
  %form{:action => "media_files"}
    .row
      .col-md-4.col-md-offset-6
        .form-group
          %input.form-control{:name => "search"}
      .col-md-2
        %button.btn.btn-primary.btn-block{:type => "Submit"}
          %i.fa.fa-search
          Search
.row
  .col-md-12
    = paginate @media_bookmarks
.row
  .col-md-12
    Search results for 
    %div{style: "background-color : black; color : red; display : inline-block"}
      Marriage, 
.row
  %table.table
    %tr
      %th{colspan: 7}
        %h3
          Salvation
    %tr
      %th
      %th Title
      %th Description
      %th File name
      %th Sub topics
      %th
      %th
    - @media_bookmarks.each do |media_bookmark|
      %tr
        %td
          = link_to bookmark_path(media_bookmark.media_file.id, media_bookmark.id) do
            %i.fa.fa-play
        %td
          #{media_bookmark.title}
        %td= media_bookmark.description 
        %td= media_bookmark.media_file.start_bookmark.title
        %td= media_bookmark.topic_list
        %td= link_to 'Edit', edit_media_bookmark_path(media_bookmark)
        %td= link_to 'Destroy', media_bookmark.media_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

.row
  .col-md-12
    = paginate @media_bookmarks
.row
  = link_to 'New Audio file', new_media_file_path, class: "btn btn-success"
.row.tagging-row
  .panel.panel-info
    .panel-heading
      Tags
    .panel-body
      .row
        .tag_cloud
          -tag_cloud MediaBookmark.tag_counts, %w[ btn-xs btn-sm btn-normal btn-lg ] do|tag, css_class|
            = link_to tag_path(tag.name), class: "btn btn-info #{css_class}" do
              #{tag.name}
              %span.badge
                #{tag.count}
      .row
        -if @current_tag
          %br/
          = link_to "Reset tags", media_bookmarks_path(@media_bookmark), class: "btn btn-warning"

