.row
  -if @current_tag
    %h1 Teachings - tagged with #{@current_tag}
  -else
    %h1 Teachings
  %form{:action => "media_files"}
    .row
      .col-md-4.col-md-offset-6
        .form-group
          %input.form-control{:name => "search"}
      .col-md-2
        %button.btn.btn-primary.btn-block{:type => "Submit"}
          %i.fa.fa-search
          Search
.row
  - render_shareable
.row
  .col-md-12
    = paginate @media_files
.row
  %table.table
    %tr
      %th
      %th Title
      %th Description
      %th
      %th
      %th

    - @media_files.each do |media_file|
      %tr
        %td
          = link_to media_file_path(media_file) do
            %i.fa.fa-play
        %td= media_file.title
        %td= media_file.description
        %td
          - render_shareable url: media_file_path(media_file.id)
        %td= link_to 'Edit', edit_media_file_path(media_file)
        %td= link_to 'Destroy', media_file, :method => :delete, :data => { :confirm => 'Are you sure?' }
.row
  .col-md-12
    = paginate @media_files
.row
  = link_to 'New Audio file', new_media_file_path, class: "btn btn-success"
.row.tagging-row
  .panel.panel-info
    .panel-heading
      Tags
    .panel-body
      .row
        .tag_cloud
          -tag_cloud MediaFile.tag_counts, %w[ btn-xs btn-sm btn-normal btn-lg ] do|tag, css_class|
            = link_to tag_path(tag.name), class: "btn btn-info #{css_class}" do
              #{tag.name}
              %span.badge
                #{tag.count}
      .row
        -if @current_tag
          %br/
          = link_to "Reset tags", media_files_path(@media_file), class: "btn btn-warning"

