%p#notice= notice

.container
  .row
    .col-md-8
      .row
        %h3 Title: #{@media_file.title}
      .row
        %h3 Description: #{@media_file.description}
        %br/
      .row
        %p
          = render partial: "audio_player", locals: { media_file: @media_file}
    .col-md-4
      %h4 Bookmarks
      %ol
        -@media_bookmarks.each do|media_bookmark|
          -if media_bookmark != @media_file.start_bookmark
            %li 
              %a.audio-bookmark{:"data-start-time" => media_bookmark.startTime }
                #{media_bookmark.title} - #{media_bookmark.duration}

  .row
    %button.btn.btn-success.add-bookmark{ :"data-audio-file" => @media_file.id}
      Add Bookmark
    = link_to 'Edit', edit_media_file_path(@media_file), class: "btn btn-primary"
    = link_to 'Back', media_files_path, class: "btn btn-primary"

= render partial: "media_bookmarks/bookmark_dialog", locals: { media_file: @media_file}

#bookmark{ :"data-start-time" => @bookmark.startTime }
