= simple_form_for( @audio_file, :html => { :multipart => true}, :defaults => { :input_html => { :class => "form-control" } }) do |f|
  - if @audio_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@audio_file.errors.count, "error")} prohibited this audio_file from being saved:"
      %ul
        - @audio_file.errors.full_messages.each do |msg|
          %li= msg

  .row
    .form-group
      = f.input :title
    .form-group
      = f.input :description, as: :text
    .form-group
      = f.input :audio_attachment
    .form-group
      = f.input :tag_list
  .row
    .actions
      = f.submit 'Save'
