%p#notice= notice

.container
  .jumbotron
    %h2 Teaching
  .row
    %p
      %b Title:
      = @audio_file.title
  .row
    %p
      %b Description:
      = @audio_file.description
  .row
    %p
      = render partial: "audio_player", locals: { audio_file: @audio_file}

  .row
    = link_to 'Edit', edit_audio_file_path(@audio_file)
    \|
    = link_to 'Back', audio_files_path
